@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  /* grid-template-rows: auto 1fr auto; */
  gap: 5px;
  height: 90vh;
}

.section {
  font-size: 2em;
  font-weight: 800;
}

header,
aside,
article,
footer {
  border-style: solid;
  font-size: 1em;
  text-align: center;
}

aside {
  background: #d7f7e5;
}

article {
  background: #fdcedf;
}

header,
footer {
  grid-column: 1 / -1;
  background: #d6eaff;
}

body {
  font-family: "Kanit", sans-serif;
  background: #333;
}

img {
  height: 32px;
  width: 32px;
  padding: 10px;
}

:root {
  --box-shadow-hue: 0;
}

header,
aside,
article,
footer {
  animation: neonRainbow 10s infinite linear;
  box-shadow: 0px 0px 10px hsla(var(--box-shadow-hue), 100%, 50%, 0.5);
}

@keyframes neonRainbow {
  0% {
    --box-shadow-hue: 0; /* Red */
  }
  20% {
    --box-shadow-hue: 60; /* Orange */
  }
  40% {
    --box-shadow-hue: 120; /* Green */
  }
  60% {
    --box-shadow-hue: 180; /* Cyan */
  }
  80% {
    --box-shadow-hue: 240; /* Blue */
  }
  100% {
    --box-shadow-hue: 300; /* Purple */
  }
}
