@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  /* grid-template-rows: auto 1fr auto; */
  gap: 5px;
  height: 90vh;
}

.section {
  font-size: 2em;
  font-weight: 800;
}

header,
aside,
article,
footer {
  border-style: solid;
  font-size: 1em;
  text-align: center;
}

aside {
  background: #d7f7e5;
}

article {
  background: #fdcedf;
}

header,
footer {
  grid-column: 1 / -1;
  background: #d6eaff;
}

body {
  font-family: "Kanit", sans-serif;
  /* background: #000; */
}

img {
  height: 32px;
  width: 32px;
  padding: 10px;
}

/* Define neon colors with higher saturation and brightness */
:root {
  --neon-red: hsla(0, 100%, 60%, 0.5); /* Bright neon red */
  --neon-orange: hsla(30, 100%, 60%, 0.5); /* Bright neon orange */
  --neon-green: hsla(120, 100%, 60%, 0.5); /* Bright neon green */
  --neon-cyan: hsla(180, 100%, 60%, 0.5); /* Bright neon cyan */
  --neon-blue: hsla(240, 100%, 60%, 0.5); /* Bright neon blue */
  --neon-purple: hsla(300, 100%, 60%, 0.5); /* Bright neon purple */
}

/* Apply the neon colors to the box shadow */
header,
aside,
article,
footer {
  animation: neonRainbow 10s infinite linear;
  box-shadow: 0px 0px 50px var(--box-shadow-color);
}

@keyframes neonRainbow {
  0% {
    --box-shadow-color: var(--neon-red);
  }
  20% {
    --box-shadow-color: var(--neon-orange);
  }
  40% {
    --box-shadow-color: var(--neon-green);
  }
  60% {
    --box-shadow-color: var(--neon-cyan);
  }
  80% {
    --box-shadow-color: var(--neon-blue);
  }
  100% {
    --box-shadow-color: var(--neon-purple);
  }
}
